<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <!-- Tells the browser what the title of this page should be. -->
  <title>Rangoli</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="gray">
  <div class="centered">
    <h1>Rangoli</h1>
  </div> <br />
  <main>
      <!-- ADD HEADER HERE -->
      <!-- ADD DESCRIPTION OF PAGE AND BACKGROUND HERE! -->
      <div class="rangoli_holder">
          <div id="rangoli_space" class="rangoli" [style.background-color]="background_color">
              <p *ngFor="let line of rangoli_state">{{line}}</p>
          </div>
      </div>
      <article class="flex-list">

          <div class="list_desc">
                  Rangoli size (between 1 and 26): <input type="text" id="input_size" name="input_size" [value]="size"><br>
                  <button id="submit" (click)="getRangoli()">Submit</button>
                  <br />

          </div>
          <div class="list_desc">
              Set background color:
              <select id="background-colors" (change)="updateBackground($event.target.value)">
                  <option *ngFor="let color of CSS_COLOR_NAMES" [value]="color">{{color}}</option>
              </select>
          </div>
          <div class="list_desc">
              <button id="cycle" [disabled]="interval_var" (click)="cycleColors()">Cycle Background Colors!</button>
              <button id="halt_cycle" [disabled]="!interval_var" (click)="stopCycle()">Stop Cycling!</button>
          </div>
      </article>
      <br />
  </main>
</body>
</html>
